:root {
        --ic-brand-primary-darkened-5: #A30030;
--ic-brand-primary-darkened-10: #9A002D;
--ic-brand-primary-darkened-15: #92002B;
--ic-brand-primary-lightened-5: #AF0C3C;
--ic-brand-primary-lightened-10: #B31946;
--ic-brand-primary-lightened-15: #B72650;
--ic-brand-button--primary-bgd-darkened-5: #2A2827;
--ic-brand-button--primary-bgd-darkened-15: #262423;
--ic-brand-button--secondary-bgd-darkened-5: #A30030;
--ic-brand-button--secondary-bgd-darkened-15: #92002B;
--ic-brand-font-color-dark-lightened-15: #4C5860;
--ic-brand-font-color-dark-lightened-30: #6C757C;
--ic-link-color-darkened-10: #0000D7;
--ic-link-color-lightened-10: #1919EF;
--ic-brand-primary: #ab0032;
--ic-brand-font-color-dark: #2D3B45;
--ic-link-color: #0000ee;
--ic-brand-button--primary-bgd: #2c2a29;
--ic-brand-button--primary-text: #ffffff;
--ic-brand-button--secondary-bgd: #ab0032;
--ic-brand-button--secondary-text: #ffffff;
--ic-brand-global-nav-bgd: #2c2a29;
--ic-brand-global-nav-ic-icon-svg-fill: #ffffff;
--ic-brand-global-nav-ic-icon-svg-fill--active: var(--ic-brand-primary);
--ic-brand-global-nav-menu-item__text-color: #ffffff;
--ic-brand-global-nav-menu-item__text-color--active: #2c2a29;
--ic-brand-global-nav-avatar-border: #ffffff;
--ic-brand-global-nav-menu-item__badge-bgd: var(--ic-brand-primary);
--ic-brand-global-nav-menu-item__badge-text: #ffffff;
--ic-brand-global-nav-logo-bgd: #2c2a29;
--ic-brand-header-image: url('https://instructure-uploads.s3.amazonaws.com/account_10470000000000001/attachments/2456884/cwulogo.png?AWSAccessKeyId=AKIAJFNFXH2V2O7RPCAA&Expires=1939372028&Signature=VcfSf1JXO5JErF2kQ5HsQCBJte0%3D&response-cache-control=Cache-Control%3Amax-age%3D473364000.0%2C%20public&response-expires=473364000.0');
--ic-brand-mobile-global-nav-logo: url('https://du11hjcvx0uqb.cloudfront.net/dist/images/mobile-global-nav-logo-aff8453309.svg');
--ic-brand-watermark: ;
--ic-brand-watermark-opacity: 1;
--ic-brand-favicon: url('https://instructure-uploads.s3.amazonaws.com/account_10470000000000001/attachments/2456885/favicon.ico?AWSAccessKeyId=AKIAJFNFXH2V2O7RPCAA&Expires=1939372068&Signature=KgTh3iCxYpVg%2B%2Bu6X4neFx%2FhSaY%3D&response-cache-control=Cache-Control%3Amax-age%3D473364000.0%2C%20public&response-expires=473364000.0');
--ic-brand-apple-touch-icon: url('https://du11hjcvx0uqb.cloudfront.net/dist/images/apple-touch-icon-585e5d997d.png');
--ic-brand-msapplication-tile-color: var(--ic-brand-primary);
--ic-brand-msapplication-tile-square: url('https://du11hjcvx0uqb.cloudfront.net/dist/images/windows-tile-eda8889e7b.png');
--ic-brand-msapplication-tile-wide: url('https://du11hjcvx0uqb.cloudfront.net/dist/images/windows-tile-wide-44d3cc1060.png');
--ic-brand-right-sidebar-logo: ;
--ic-brand-Login-body-bgd-color: #394B58;
--ic-brand-Login-body-bgd-image: url('https://instructure-uploads.s3.amazonaws.com/account_10470000000000001/attachments/4268973/canal-bridge-spring2.jpg');
--ic-brand-Login-body-bgd-shadow-color: #2D3B45;
--ic-brand-Login-logo: url('https://instructure-uploads.s3.amazonaws.com/account_10470000000000001/attachments/4268974/CWU%20signature%20logo.jpg');
--ic-brand-Login-Content-bgd-color: none;
--ic-brand-Login-Content-border-color: none;
--ic-brand-Login-Content-inner-bgd: none;
--ic-brand-Login-Content-inner-border: none;
--ic-brand-Login-Content-inner-body-bgd: none;
--ic-brand-Login-Content-inner-body-border: none;
--ic-brand-Login-Content-label-text-color: #ffffff;
--ic-brand-Login-Content-password-text-color: #ffffff;
--ic-brand-Login-footer-link-color: #ffffff;
--ic-brand-Login-footer-link-color-hover: #ffffff;
--ic-brand-Login-instructure-logo: #ffffff;
      }